:root {
    --main-bg-color: #151515;
    --primary-bg-color: #9e9e9e;
    --foreign-bg-color: #252525;
    --card-bg-color: #222;
    --main-color: #eee;
    --primary-color: #222215;
    --a-color: #eee;
    --primary-a-color: #214;
    --experience-a-color: #99f;
}
html,
body {
    overflow-x: hidden;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: var(--a-color);
}
a:hover {
    color: var(--a-color);
    text-decoration: none;
}
#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--foreign-bg-color);
    padding-top: 0.75em;
    height: 3em;
    font-size: 32px;
    font-weight: 600;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
.a-header {
    display: inline-flex;
    position: absolute;
    top: 1.8vh;
    left: 1.2vw;
}
.toggle-lang {
    margin-top: 1em;
    margin-left: -0.8em;
    font-size: 15px;
}
.a-cv {
    position: absolute;
    top: 1.8vh;
    right: 9em;
}
.a-footer {
    position: absolute;
    top: 1.8vh;
    right: 1em;
}
.gadjiiavov {
    display: flex;
    margin: 10em 15em;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 90vh;
}
.particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw!important;
    height: 100vh!important;
    z-index: 0;
}
.some-about {
    width: 50em;
    margin-right: 15dvw;
        text-align: left;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.hi,
.name {
    font-size: 2.5vw;
    line-height: 1em;
    z-index: 1;
}
.whoami {
    line-height: 1.5em;
    font-size: 2vw;
    z-index: 1;
}
.me {
    z-index: 1;
}
.me img {
    width: 25dvw;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.bold {
    font-weight: bold;
}
.skills-ticker {
    position: absolute;
    top: 8em;
    overflow: hidden;
    transform: rotateZ(-2deg);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.skills-ticker2 {
    position: absolute;
    bottom: 2em;
    overflow: hidden;
    transform: rotateZ(-2deg);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.skills-ticker__wrapper {
    display: flex;
    background-color: var(--primary-bg-color);
}
.skills-ticker__item {
    width: 6em;
    color: var(--primary-color);
    font-size: 2vw;
    font-weight: 500;
    white-space: nowrap;
    flex-shrink: 0;
    animation: ticker 35s linear infinite;
}
.skills-ticker2 .skills-ticker__item {
    animation: ticker2 35s linear infinite;
}
@keyframes ticker {
    0% {
        transform: translate3d(1500%, 0, 0); /* 1500 - (-400) = 1900% -> 19 elements in ticker * 100% */
    }
    to {
        transform: translate3d(-400%, 0, 0);
    }
}
@keyframes ticker2 {
    0% {
        transform: translate3d(-400%, 0, 0);
    }
    to {
        transform: translate3d(1500%, 0, 0);
    }
}
.skills {
    display: none;
    justify-content: center;
}
.skills__wrapper {
    display: grid;
    max-width: 60%;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    background: var(--primary-color);
    border-radius: 15px;
    margin: 5px 10px;
    color: var(--main-color);
    padding: 0.3em;
}
.cv {
    display: flex;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-wrap: balance;
}
.over {
    display: block;
    padding: 3em 0;
    background-color: var(--primary-bg-color);
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.cv a {
    color: var(--primary-a-color);
}
.cv h1 {
    margin-top: 0.5em;
}
#cv {
    font-size: 3vw;
    font-weight: bold;
}
h1 {
    font-size: 2.5vw;
}
h2 {
    font-size: 2vw;
}
.about {
    font-size: 3vh;
    justify-content: center;
    padding: 0 10em;
    flex-wrap: wrap;
}
.courses,
.experience {
    display: flex;
    justify-content: center;
}
.courses a,
.experience a {
    color: var(--experience-a-color);
}
.projects {
    max-width: 50vw;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.proj-card {
    display: flex;
    width: 15vw;
    height: 10vw;
    background: var(--card-bg-color);
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(10, 10, 20, 0.8)), url("../assets/img/particles.png");
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(10, 10, 20, 0.8)), url("../assets/img/particles.png");
    background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(10, 10, 20, 0.8)), url("../assets/img/particles.png");
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(10, 10, 20, 0.8)), url("../assets/img/particles.png");
    background-size: cover;
    mix-blend-mode: luminosity;
    border-radius: 15px;
    margin: 10px;
    align-items: center;
    transition: transform 0.6s;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.courses .proj-card {
    background-image: -webkit-linear-gradient(45deg, rgba(10, 30, 30, 0.8), rgba(40, 40, 30, 0.9)), url("../assets/img/particles2.png");
    background-image: -moz-linear-gradient(45deg, rgba(10, 30, 30, 0.8), rgba(40, 40, 30, 0.9)), url("../assets/img/particles2.png");
    background-image: -o-linear-gradient(45deg, rgba(10, 30, 30, 0.8), rgba(40, 40, 30, 0.9)), url("../assets/img/particles2.png");
    background-image: linear-gradient(45deg, rgba(10, 30, 30, 0.8), rgba(40, 40, 30, 0.9)), url("../assets/img/particles2.png");
    mix-blend-mode: luminosity;
    background-blend-mode: revert;
}
.course-name {
    color: var(--main-color);
    font-size: 1.75vw;
    line-height: 1em;
}
.proj-name {
    color: var(--main-color);
    font-size: 2.5vw;
    line-height: 1em;
}
.course-name:active,
.course-name.flipped,
.proj-card:active,
.proj-card.flipped {
    transform: rotateY(180deg);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.proj-card .course-name,
.proj-card .proj-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.proj-card .proj-description {
    font-size: 14px;
    color: var(--main-color);
    transform: rotateY(180deg);
}
.proj-card .proj-description {
    display: none;
}
.proj-card.flipped .course-name,
.proj-card.flipped .proj-name {
    display: none;
}
.proj-card.flipped .proj-description {
    display: block;
}
.courses p {
    line-height: auto;
}
.university {
    display: grid;
    justify-content: center;
}
.mtuci {
    display: flex;
    text-align: left;
    font-size: 1em;
}
.but-not {
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(10, 10, 20, 0.75)), url("../assets/img/mtuci.png");
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(10, 10, 20, 0.75)), url("../assets/img/mtuci.png");
    background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(10, 10, 20, 0.75)), url("../assets/img/mtuci.png");
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(10, 10, 20, 0.75)), url("../assets/img/mtuci.png");
    mix-blend-mode: luminosity;
    width: 30vw;
    height: 18vw;
}
.but-not.flipped {
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.85), rgba(10, 10, 20, 0.9)), url("../assets/img/mtuci.png");
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.85), rgba(10, 10, 20, 0.9)), url("../assets/img/mtuci.png");
    background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.85), rgba(10, 10, 20, 0.9)), url("../assets/img/mtuci.png");
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.85), rgba(10, 10, 20, 0.9)), url("../assets/img/mtuci.png");
    mix-blend-mode: luminosity;
}
.but-not .proj-name {
    font-size: 1.5em;
    top: 5%;
    left: 12.5%;
}
#footer {
    position: absolute;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
    justify-content: center;
    text-align: center;
    padding: 8vh 0;
    z-index: 1;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.vk img,
.tg img,
.gh img {
    width: 4em;
    border-radius: 50%;
    background-color: var(--a-color);
    border: 3px dashed var(--a-color);
    filter: invert(7%);
}
.tg img,
.gh img {
    margin-left: 0.8em;
}
.vk:hover img,
.tg:hover img,
.gh:hover img {
    filter: invert(100%);
}
@media (max-width: 1400px) {
    #header {
        display: none;
    }
    .skills {
        display: flex;
    }
    .some-about {
        padding-top: 2em;
        margin: unset;
        text-align: unset;
    }
    .gadjiiavov {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        margin-top: 8em;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        height: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .me img {
        width: 40vw;
        max-width: 50vh;
    }
    #cv {
        font-size: 8vw;
        font-weight: bold;
    }
    h1 {
        font-size: 6vw;
    }
    h2 {
        font-size: 4vw;
    }
    .projects {
        max-width: 100vw;
    }
    .proj-card {
        width: 21em;
        height: 13em;
    }
    .course-name {
        font-size: 2.5em;
    }
    .proj-name {
        font-size: 3.5em;
    }
    .about {
        font-size: 2vh;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 5em;
    }
    .but-not .proj-name {
        font-size: 1em;
        top: 6%;
        left: 15%;
    }
    #footer {
        display: flex;
        flex-direction: column-reverse;
    }
    .around-the-web,
    .location {
        margin-top: 4em;
    }
    .skills-ticker,
    .skills-ticker2 {
        display: none;
    }

    .but-not.flipped h1 {
        font-size: 2em;
    }
    .but-not.flipped h6 {
        font-size: 0.7em;
    }
}
@media (max-width: 1080px) {

    .skills__wrapper {
        display: grid;
        max-width: 95%;
    }
    .some-about {
        padding-top: 1em;
        margin: unset;
        text-align: unset;
    }
    .gadjiiavov {
        margin-top: 12em;
    }
    .me img {
        width: 60vw;
    }
    .about {
        font-size: 2vh;
        padding: 0 0.5em;
    }
    .hi,
    .name {
        font-size: 4.5vw;
    }
    .whoami {
        font-size: 3vw;
    }
}
@media (max-width: 1920px) {
    .gadjiiavov {
        height: 80vh;
    }
}
@media (max-height: 1080px) {
    .gadjiiavov {
        margin-top: 4em;
    }
}
@media (max-height: 800px) {
    .skills-ticker,
    .skills-ticker2 {
        display: none;
    }
    .skills {
        display: flex;
    }
    .about {
        font-size: 5vh;
    }
    .but-not .proj-name {
        font-size: 1em;
        top: 5%;
        left: 14.5%;
    }
}
@media (max-height: 500px) {
    #header {
        display: none;
    }
    .me img {
        width: 80vh;
    }
}
@media (max-width: 500px) {
    .about {
        font-size: 4vw;
    }
}