:root {
    --main-bg-color: #151515;
    --primary-bg-color: #9e9e9e;
    --foreign-bg-color: #252525;
    --card-bg-color: #222;
    --main-color: #eee;
    --primary-color: #222215;
    --a-color: #eee;
    --primary-a-color: #214;
    --experience-a-color: #99f;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: var(--a-color);
}
a:hover {
    color: var(--a-color);
    text-decoration: none;
}
#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--foreign-bg-color);
    padding-top: 0.75em;
    height: 3em;
    font-size: 32px;
    font-weight: 600;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.a-header {
    position: absolute;
    top: 0.8vw;
    left: 2dvh;
}
.a-cv {
    position: absolute;
    top: 0.8vw;
    right: 20dvh;
}
.a-footer {
    position: absolute;
    top: 0.8vw;
    right: 4dvh;
}
.gadjiiavov {
    display: flex;
    margin: 10em 15em;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 35vw;
}
.particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw!important;
    height: 100vh!important;
    z-index: 0;
}
.some-about {
    width: 50em;
    margin-right: 15dvw;
    text-align: left;
}
.hi,
.name {
    font-size: 2.5vw;
    line-height: 1em;
    z-index: 1;
}
.whoami {
    line-height: 1.5em;
    font-size: 2vw;
    z-index: 1;
}
.me {
    z-index: 1;
}
.me img {
    width: 25dvw;
    border-radius: 50%;
}
.bold {
    font-weight: bold;
}
.cv {
    display: flex;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    border-radius: 5px 5px 0 0;
    text-align: center;
    text-wrap: balance;
}
.over {
    display: block;
    padding: 3em 0;
    background-color: var(--primary-bg-color);
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cv a {
    color: var(--primary-a-color);
}
.cv h1 {
    margin-top: 1em;
}
.cv p {
    margin-left: 20vw;
    align-items: left;
    justify-content: left;
    text-align: left;
    display: block;
    font-size: 26px;
    line-height: 20px;
}
#cv {
    font-size: 56px;
    font-weight: bold;
}
.about {
    font-size: 20px;
    justify-content: center;
    padding: 0 20em;
    flex-wrap: wrap;
}
.experience {
    display: flex;
    justify-content: center;
}
.experience a {
    color: var(--experience-a-color);
}
.projects {
    max-width: 68em;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.proj-card {
    display: flex;
    width: 21em;
    height: 13em;
    background: var(--card-bg-color);
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(10, 10, 20, 0.8)), url("../assets/img/particles.png");
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(10, 10, 20, 0.8)), url("../assets/img/particles.png");
    background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(10, 10, 20, 0.8)), url("../assets/img/particles.png");
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(10, 10, 20, 0.8)), url("../assets/img/particles.png");
    background-size: 21em;
    mix-blend-mode: luminosity;
    border-radius: 15px;
    margin: 10px;
    align-items: center;
    transition: transform 0.6s;
    cursor: pointer;
    position: relative;
}
.proj-name {
    color: var(--main-color);
    font-size: 56px;
    line-height: 1em;
}
.proj-card:active,
.proj-card.flipped {
    transform: rotateY(180deg);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.proj-card .proj-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.proj-card .proj-description {
    font-size: 14px;
    color: var(--main-color);
    transform: rotateY(180deg);
}
.proj-card .proj-description {
    display: none;
}

.proj-card.flipped .proj-name {
    display: none;
}

.proj-card.flipped .proj-description {
    display: block;
}

.university {
    display: grid;
    justify-content: center;
}
.mtuci {
    display: flex;
    text-align: left;
    font-size: 24px;
}
.but-not {
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(100, 100, 200, 0.55)), url("../assets/img/mtuci.png");
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(100, 100, 200, 0.55)), url("../assets/img/mtuci.png");
    background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(100, 100, 200, 0.55)), url("../assets/img/mtuci.png");
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(100, 100, 200, 0.55)), url("../assets/img/mtuci.png");
    background-size: 21em;
    mix-blend-mode: unset;
}
.but-not.flipped {
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(10, 10, 20, 0.85)), url("../assets/img/mtuci.png");
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(10, 10, 20, 0.85)), url("../assets/img/mtuci.png");
    background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(10, 10, 20, 0.85)), url("../assets/img/mtuci.png");
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(10, 10, 20, 0.85)), url("../assets/img/mtuci.png");
}
.but-not .proj-name {
    font-size: 20px;
    top: 6%;
    left: 12%;
}
@media (max-width: 1400px) {
    .some-about {
        padding-top: 5em;
        margin: unset;
        text-align: unset;
    }
    .gadjiiavov {
        display: grid;
        position: relative;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        height: 50vw;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .me img {
        width: 40vw;
    }
    .cv p {
        margin-left: 20vw;
        font-size: 16px;
        line-height: 12px;
    }
    .a-header {
        left: 2dvh;
    }
    .a-cv {
        right: 28dvh;
    }
    .about {
        padding: 0 5em;
    }
}