@import '../../mixins';

.about-container {
  font-size: 0.8em;
  display: flex;
  position: relative;
  justify-content: right;

  @include respond-to('medium') {
    display: block;
    font-size: 1em;
  }

  @include respond-to('small') {
    font-size: 0.5em;
  }

  @include respond-to('tiny') {
    font-size: 0.3em;
  }

  .title {
    font-size: 3em;
    margin: 0;
    width: 30%;

    @include respond-to('medium') {
      width: 100%;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 12%;
    width: 30em;
    transform: scaleX(-1);
    filter: invert(80%);

    @include respond-to('medium') {
      display: none;
    }
  }

  .about {
    font-size: 2em;
    justify-content: right;
    text-align: right;
    flex-wrap: wrap;
    white-space: pre-wrap;
    width: 70%;

    @include respond-to('medium') {
      justify-content: left;
      text-align: left;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}