@import '../../mixins';

.education-container {
  font-size: 0.8em;
  display: flex;
  position: relative;
  justify-content: left;
  flex-direction: row-reverse;

  @include respond-to('medium') {
    display: block;
    font-size: 1em;

    .education {
      text-align: left;

      .school {
        text-align: left;
      }
    }
  }

  @include respond-to('tiny-and-tall') {
    display: block;
  }

  @include respond-to('small') {
    display: block;
    font-size: 0.5em;
  }

  @include respond-to('tiny') {
    font-size: 0.3em;
  }

  .title {
    font-size: 3em;
    margin: 0;
    width: 30%;

    @include respond-to('medium') {
      width: 100%;
    }
  }

  img {
    position: absolute;
    top: 5%;
    right: 10%;
    width: 30em;
    transform: scaleX(-1);
    filter: invert(80%);

    @include respond-to('medium') {
      display: none;
    }
  }

  .education {
    font-size: 2.2em;
    justify-content: left;
    padding-bottom: 2em;
    text-align: left;
    flex-wrap: wrap;
    width: 70%;

    @include respond-to('medium') {
      width: 100%;
    }

    .school {
      text-align: left;
      width: 100%;
      white-space: pre-wrap;

      &-title {
        font-size: 2em;

        @include respond-to('small') {
          font-size: 1.5em;
          margin: 0;
        }
      }
    }
  }
}