.experience {
    font-size: 3em;
    justify-content: right;
    text-align: left;
    padding: 0 4em;
    flex-wrap: wrap;
}
.title {
    font-size: 2.5vw;
    margin: 0;
}
.subtitle {
    font-size: 1.5vw;
    margin: 0;
}
.experience-container {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: right;
    white-space: pre-wrap;
}
.experience-container > * {
    width: 100%;
}
.company {
    position: relative;
}
.company img {
    position: absolute;
    top: 9%;
    right: 120%;
    width: 40%;
    transform: scaleX(-1);
    filter: invert(80%);
}
.experience ul {
    font-size: 1vw;
}
.period {
    position: absolute;
    transform: rotate(-90deg);
    top: 50%;
    left: -25%;
}
.technologies-container {

}
.technologies {

}
.achievements-container {

}
.achievements {

}
@media (max-width: 4000px) {
    .experience {
        font-size: 1.8vw;
        padding: 0;
        padding-right: 6vw;
    }
}
@media (max-width: 3000px) {
    .experience {
        font-size: 1.8vw;
        padding: 0;
        padding-right: 8vw;
    }
}
@media (max-width: 1920px) {
    .experience {
        font-size: 1.8vw;
        padding: 0;
        padding-right: 10vw;
    }
}
@media (max-width: 1440px) {
    .experience {
        font-size: 1.5vw;
        justify-content: left;
        flex-wrap: wrap;
        padding: 0;
        padding-right: 2vw;
    }
    .period {
        left: -15%;
    }
    .title {
        font-size: 4vw;
    }
    .subtitle {
        font-size: 2vw;
    }
    .experience ul {
        font-size: 1.5vw;
    }
}
@media (max-width: 1080px) and (max-height: 920px){
    .experience {
        font-size: 1.5vw;
        padding-left: 5vw;
    }
}
@media (max-height: 768px) and (max-width: 360px){
    .experience {
        font-size: 1.5vw;
        padding-left: 5vw;
    }
    .experience {
        padding: 0;
        padding-right: 2vw;
        text-align: left;
    }
    .experience-container {
        display: block;
        padding: 0;
        padding-right: 2vw;
    }
    .company img {
        display: none;
    }
    .experience ul {
        font-size: 1.5vw;
    }
}
@media (max-width: 1440px) {
    .experience {
        font-size: 1.8vw;
        padding: 0 2vw;
        text-align: left;
    }
    .experience-container {
        display: block;
        padding: 0 10vw;
    }
    .company img  {
        display: none;
    }
    .subtitle {
        font-size: 3vw;
    }
    .period {
        font-size: 3vw;
        top: 30%;
        left: -25%;
    }
    .experience ul {
        font-size: 1.8vw;
    }
}
@media (max-height: 920px) {
    .experience {
        font-size: 1.8vw;
        padding: 0;
        padding-right: 6vw;
    }
}
@media (max-width: 500px) {
    .experience {
        font-size: 2.5vw;
        padding: 0 4vw;
    }
    .experience ul {
        font-size: 2.5vw;
    }
    .experience-container {
        display: block;
        padding: 0;
        padding-right: 1vw;
        margin-top: 1em;
    }
    .period {
        position: static;
        transform: unset;
        inset: unset;
        line-height: 0em;
        margin-bottom: 2em;
    }
    .period::before {
        content: "> ";
    }
}