@import '../../mixins';

.experience-container {
  font-size: 0.8em;
  display: flex;
  position: relative;
  justify-content: right;
  white-space: pre-wrap;

  @include respond-to('medium') {
    display: block;
    font-size: 1em;

    ul {
      padding-left: 0;
    }
  }

  @include respond-to('small') {
    margin-top: 1em;
    font-size: 0.5em;
  }

  @include respond-to('tiny') {
    font-size: 0.3em;
  }

  .title {
    font-size: 3em;
    margin: 0;
    width: 30%;


    @include respond-to('medium') {
      width: 100%;
    }
  }

  .experience {
    font-size: 2em;
    justify-content: right;
    text-align: left;
    flex-wrap: wrap;
    width: 70%;

    @include respond-to('medium') {
      justify-content: left;
      width: 100%;
    }

    .company {
      position: relative;

      img {
        position: absolute;
        right: 105%;
        width: 17em;
        transform: scaleX(-1);
        filter: invert(80%);

        @include respond-to('medium') {
          display: none;
        }
      }

      &-name {
        font-size: 1.2em;
      }

      .period {
        position: absolute;
        transform: rotate(-90deg) translate(-95%, -350%);

        @include respond-to('medium') {
          transform: rotate(-90deg) translate(-70%, -420%);
        }

        @include respond-to('small') {
          position: static;
          transform: unset;
          inset: unset;
          line-height: 0;
          margin-bottom: 2em;

          &::before {
            content: "> ";
          }
        }
      }

      .subtitle {
        font-size: 1.2em;
        margin: 0;
      }

      .technologies-container {

      }

      .technologies {

      }

      .achievements-container {

      }

      .achievements {

      }
    }
  }
}