.skills {
    font-size: 3em;
    justify-content: left;
    text-align: left;
    padding: 0 4em;
    flex-wrap: wrap;
}
.title {
    font-size: 2.5vw;
    margin: 0;
}
.skills-container {
    margin-top: 30vh;
    min-height: 30vh;
    display: flex;
    position: relative;
    justify-content: left;
    align-items: left;
    flex-direction: row-reverse;
}
.skills-container ul {
    padding-left: 0;
}
.skills-container > * {
    width: 100%;
}
.skills-container img {
    position: absolute;
    top: 5%;
    right: 23%;
    width: 15%;
    transform: scaleX(-1);
    filter: invert(80%);
}
@media (max-width: 4000px) {
    .skills {
        font-size: 1.8vw;
        padding: 0;
        padding-left: 6vw;
    }
    .skills-container {
        margin-top: 3vh!important;
        min-height: unset;
    }
}
@media (max-width: 3000px) {
    .skills {
        font-size: 1.8vw;
        padding: 0;
        padding-left: 8vw;
    }
}
@media (max-width: 1920px) {
    .skills {
        font-size: 1.8vw;
        padding: 0;
        padding-left: 10vw;
    }
    .skills-container {
        margin-top: 50vh;
    }
}
@media (max-width: 1440px) {
    .skills {
        font-size: 1.5vw;
        justify-content: right;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 2vw;
    }
   .title {
        font-size: 4vw;
    }
}
@media (max-width: 1080px) and (max-height: 920px) {
    .skills {
        font-size: 1.5vw;
    }
}
@media (max-height: 768px) and (max-width: 360px) {
    .skills {
        font-size: 1.5vw;
        padding-left: 2vw;
        text-align: left;
    }
    .skills-container {
        display: block;
        padding: 0 2vw;
    }
    .skills-container img {
        display: none;
    }
}
@media (max-width: 1440px) {
    .skills {
        padding: 0 2vw;
        font-size: 1.8vw;
        text-align: left;
    }
    .skills-container {
        display: block;
        padding: 0 10vw;
    }
    .skills-container img {
        display: none;
    }
}
@media (max-height: 920px) and (max-width: 1440px) {
    .skills {
        font-size: 1.8vw;
        padding: 0;
    }
    .skills-container {
        font-size: 1.8vw;
        padding: 0;
    }
    .skills ul {
        font-size: 1.8vw;
        padding: 0;
    }
}
@media (max-height: 920px) {
    .skills {
        font-size: 1.8vw;
        padding: 0 10vw;
    }
    .skills-container {
        font-size: 1.8vw;
    }
    .skills ul {
        font-size: 1.8vw;
        padding: 0;
    }
}
@media (max-width: 500px) {
    .skills,
    .skills ul {
        font-size: 2.5vw;
        padding: 0 2vw;
    }
    .skills-container {
        display: block;
        padding: 0;
        padding-left: 1vw;
        margin-top: 1em;
    }
}