:root {
    --main-bg-color: #101010;
    --primary-bg-color: #9e9e9e;
    --foreign-bg-color: #252525;
    --card-bg-color: #222;
    --main-color: #eee;
    --primary-color: #ccc;
    --a-color: #eee;
    --primary-a-color: #aaa;
    --experience-a-color: #99f;
}
html,
body {
    overflow-x: hidden;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: var(--a-color);
}
a:hover {
    color: var(--a-color);
    text-decoration: none;
}
.particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw!important;
    height: 100vh!important;
    z-index: 1000;
}