@import '../mixins';

.cv {
  display: flex;
  color: var(--primary-color);
  text-align: center;
  text-wrap: balance;

  &-title {
    font-size: 3.6em;
    font-weight: bold;

    @include respond-to('small') {
      font-size: 2em;
      margin-top: 2em;
      line-height: 0;
    }

    @include respond-to('tiny') {
      font-size: 1em;
    }
  }

  .over {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    gap: 4.8em;
  }
}
