@import '../mixins';

.footer {
  position: relative;
  background: transparent;
  color: var(--primary-color);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
  justify-content: center;
  text-align: center;
  text-shadow: 0 0 25px var(--footer-shadow-color);

  @include respond-to('medium-not-wide') {
    display: flex;
    flex-direction: column-reverse;
  }

  @include respond-to('medium-and-wide') {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
  }

  @include respond-to('small-and-tall') {
    display: flex;
    flex-direction: column-reverse;
  }

  @include respond-to('medium') {
    font-size: 0.8em;
  }

  @include respond-to('small') {
    font-size: 0.5em;
  }

  @include respond-to('tiny') {
    font-size: 0.3em;
  }

  .location,
  .around-the-web,
  .email {
    .title {
      font-size: 2.2em;
      margin: 0;
    }

    .address {
      position: relative;
      z-index: 1001;
      font-size: 2.8em;
    }

    @include respond-to('substantial') {
      font-size: 1.5em;
    }

    @include respond-to('substantial-and-tall') {
      font-size: 1em;
    }

    @include respond-to('small-and-tall') {
      font-size: 1em;
    }

    @include respond-to('small') {
      font-size: 1em;
    }

    @include respond-to('tiny') {
      font-size: 1.2em;
    }

    @include respond-to('very-tiny') {
      font-size: 0.8em;
    }
  }

  .around-the-web {
    @include respond-to('medium-and-wide') {
      margin-bottom: 1em;
    }

    .links {
      display: flex;
      margin-top: 0.2em;
      gap: 0.8em;
      justify-content: center;

      @include respond-to('medium') {
        padding-top: 0.4em;
      }

      @include respond-to('medium-and-wide') {
        padding-top: 0;
      }

      @include respond-to('small-and-tall') {
        gap: 2.5em;
      }

      .link {
        position: relative;
        z-index: 1001;

        & img {
          width: 3.6em;
          border-radius: 50%;
          background-color: var(--a-color);
          border: 3px solid var(--a-color);
          filter: invert(7%);

          @include respond-to('medium-not-wide') {
            width: 2em;
          }

          @include respond-to('medium-and-wide') {
            width: 4em;
          }

          @include respond-to('small-and-tall') {
            width: 4em;
          }

          @include respond-to('tiny') {
            border: 2px solid var(--a-color);
            width: 4em;
          }

          @include respond-to('very-tiny') {
            border: 1px solid var(--a-color);
            width: 4em;
          }
        }

        &:hover img {
          filter: invert(100%);
        }
      }
    }
  }

  .location {
    @include respond-to('small-and-tall') {
      padding-top: 2em;
    }
  }
}
