@import '../mixins';

.gadjiiavov {
  display: flex;
  font-size: 1em;
  margin: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;

  @include respond-to('substantial-and-tall') {
    margin-top: 12em;
  }

  @include respond-to('medium') {
    display: flex;
    font-size: 0.8em;
    flex-direction: column-reverse;
    position: relative;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  @include respond-to('small') {
    font-size: 0.5em;
  }

  @include respond-to('tiny') {
    font-size: 0.3em;
  }

  .some-about {
    width: 50em;
    text-align: left;
    text-shadow: 0 0 25px var(--welcome-shadow-color);

    @include respond-to('medium') {
      margin: unset;
      text-align: unset;
    }

    @include respond-to('substantial-and-tall') {
      padding-top: 1em;
    }

    .hi,
    .name {
      font-size: 3em;
      line-height: 1em;
      z-index: 1;
    }

    .whoami {
      line-height: 1.5em;
      font-size: 2.4em;
      z-index: 1;
    }
  }

  .me {
    z-index: 1000;
    pointer-events: none;

    img {
      width: 80%;
      border-radius: 50%;
      box-shadow: 0 0 20px var(--welcome-shadow-color);

      @include respond-to('medium') {
        max-width: 40vh;
      }
    }
  }
}
